name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        docker build -t lavalink .
        docker tag lavalink bearts/lavalink:latest
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: bearts
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Upload Docker Image
      run: |
        docker push bearts/lavalink:latest